<!-- uses base.html for the inital HTML needed for a page DOCTYPE <html><head><body> etc. -->
{% extends "base.html" %}
{% block content %}
	 <div id="wrapper">
	  <section>
	    <img src="img/nick.jpg" alt="Photograph of Jeremy" class="profile-photo">
	    <h3>About</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe esse corporis atque aspernatur sapiente reprehenderit molestiae laboriosam ad a cum eos suscipit veniam ipsum aut molestias illo, facere voluptatum, aperiam.</p>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatem perspiciatis quidem maxime architecto at, in magni deserunt? Expedita sint maxime minus doloribus beatae dolores dolor alias quod nostrum temporibus?</p>
	  </section>
	</div>
{% endblock %}