<!-- uses base.html for the inital HTML needed for a page DOCTYPE <html><head><body> etc. -->
{% extends "base.html" %}
{% block content %}
	 <div id="wrapper">
	  <section>
	    <img src="img/nick.jpg" alt="Photograph of Jeremy" class="profile-photo">
	    <h3>About</h3>
	    <p>Beyond remodels is a full-service company that specializes in residential new-construction and remodeling</p>
	    <p>Whether you want add a new bedroom or give your kitchen a well-deserved facelift.</p>
	    <p>Beyond Remodels is owned and operated by Jeremy Rawlings, a 10yr pro who's attention to detail and professionalism is repeated by his countless testimonals.</p>
	    <p>Jeremy employs a well-trained crew, who are courteous and professional as well.</p>
	  </section>
	</div>
{% endblock %}