<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename="main.css") }}">
	<link rel="stylesheet" href="{{ url_for('static', filename="responsive.css") }}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
      <a href="/" id="logo">
        <h1>Beyond Remodels</h1>
      </a>
      <nav>
        <ul>
          	<li><a href="/">Portfolio</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

	<h2>This is the {{page_title}} View</h2>

	{% block content%} {% endblock %}
</body>
</html>