<!-- uses base.html for the inital HTML needed for a page DOCTYPE <html><head><body> etc. -->
{% extends "base.html" %}
{% block content %}
	<div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="http://placehold.it/1024x768">
              <img src="http://placehold.it/1024x768" alt="">
              <p>Lorem ipsum dolor sit amet.</p>
            </a>
          </li>
          <li>
            <a href="http://placehold.it/1024x768">
              <img src="http://placehold.it/1024x768" alt="">
              <p>Lorem ipsum dolor sit amet.</p>
            </a>
          </li>
          <li>
            <a href="http://placehold.it/1024x768">
              <img src="http://placehold.it/1024x768" alt="">
              <p>Lorem ipsum dolor sit amet.</p>
            </a>
          </li>
          <li>
            <a href="http://placehold.it/1024x768">
              <img src="http://placehold.it/1024x768" alt="">
              <p>Lorem ipsum dolor sit amet.</p>
            </a>
          </li>
          <li>
            <a href="http://placehold.it/1024x768">
              <img src="http://placehold.it/1024x768" alt="">
              <p>Lorem ipsum dolor sit amet.</p>
            </a>
          </li>
          <li>
            <a href="http://placehold.it/1024x768">
              <img src="http://placehold.it/1024x768" alt="">
              <p>Lorem ipsum dolor sit amet.</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
{% endblock %}