<!-- uses base.html for the inital HTML needed for a page DOCTYPE <html><head><body> etc. -->
{% extends "base.html" %}
{% block content %}
	<div id="wrapper">
      <section>
        <div id="gallery">
          <div>
            <a href="/static/images/bathroom1.jpg">
                <img src="/static/images/bathroom1.jpg" alt="">
                <p>Curbless shower using Wedi shower system.</p>
              </a>
          </div>
          <div>
            <a href="/static/images/backyard1.jpg">
                <img src="/static/images/backyard1.jpg" alt="">
                <p>Deck w/ pergola built from sketch idea provided by client.  Benches and planters built in.</p>
              </a>
          </div>
          <div>
            <a href="/static/images/frontOfHouse1.jpg">
                <img src="/static/images/frontOfHouse1.jpg" alt="">
                <p>Custom Hardi board fence with LED back lit Plexiglass panels.</p>
              </a>
          </div>
          <div>
            <a href="/static/images/frontOfHouse2.jpg">
                <img src="/static/images/frontOfHouse2.jpg" alt="">
                <p>Lap and Gap cedar wall with new windows and barn door side access.</p>
              </a>
          </div>
          <div>
            <a href="/static/images/backyard.jpg">
                <img src="/static/images/backyard.jpg" alt="">
                <p>Two story deck over 30' Gabriel wall.  Hogwire fencing.</p>
              </a>
          </div>
          <div>
            <a href="/static/images/bathroom10.jpg">
                <img src="/static/images/bathroom10.jpg" alt="">
                <p>New bathroom in a 1900's house with custom sunken shower, 24x24 porcelain tile.</p>
              </a>
          </div>
        </div>
      </section>
    </div>
{% endblock %}